
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Hayvanlar Bilgi Tablosu</h3>
<br />
<table class="table-hover">
    <tr>
        <th>Hayvan ID </th>
        <th>Hayvan İsim</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Paşa</td>

    </tr>
</table>

<button class="btn btn-info">yeni hayvan</button>
<button class="btn btn-warning">hayvan listesi</button>
<button class="btn btn-danger">hayvan açıklamaları</button>
